################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Demos/CSharpToJSON/.vs
/Demos/WorkshopJSONXML/.vs/WorkshopJSONXML
/Demos/WorkshopJSONXML/WorkshopJSON/bin/Debug/netcoreapp2.1
/Demos/WorkshopJSONXML/WorkshopJSON/obj
/Demos/WorkshopJSONXML/WorkshopJsonDemo2/bin/Debug/netcoreapp2.1
/Demos/WorkshopJSONXML/WorkshopJsonDemo2/obj
/Demos/WorkshopJSONXML/LabJson02/obj/Debug
/Demos/WorkshopJSONXML/LabJson02/bin/Debug
